<%= form_for([@item, @link], as: :social_link) do |f| %>
  <%= render 'portfolio/shared/form_errors', record: @link %>

  <div class="form-group">
    <%= f.label :social_link_id %><br>
    <%= f.select :social_link_id, Portfolio::SocialLink.all.map { |link| [link.name, link.id] }, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name, class: 'form-control' %>
  </div>

  <%= f.hidden_field :item_id %>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', item_item_social_links_path, class: 'btn btn-default' %>
  </div>
<% end %>
