<%= form_for([@item, @item_menu_link]) do |f| %>
  <% if @item_menu_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_menu_link.errors.count, "error") %> prohibited this item_menu_link from being saved:</h2>

      <ul>
      <% @item_menu_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.hidden_field :item_id %>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', item_item_menu_links_path, class: 'btn btn-default' %>
  </div>
<% end %>
