<%= form_for(@item, :html => { :multipart => true }) do |f| %>
  <%= render 'portfolio/shared/form_errors', record: @item %>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :key %>
        <%= f.text_field :key, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :person_name %>
        <%= f.text_field :person_name, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :job_title %>
        <%= f.text_field :job_title, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="checkbox">
        <br>
        <label>
          <%= f.check_box :default %>
          Default
        </label>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', sites_path, class: 'btn btn-default' %>
    <% unless @item.new_record? %>
    <%= link_to 'Preview', @item, class: 'btn btn-default' %>
    <%= link_to "Projects (#{@item.site_items.count})", [@item, :site_items], class: 'btn btn-default' %>
    <%= link_to "Menu Links (#{@item.site_menu_links.count})", [@item, :site_menu_links], class: 'btn btn-default' %>
    <%= link_to "Social Links (#{@item.site_social_links.count})", [@item, :site_social_links], class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
