<% unless @site.nil? %>
  <%= content_for :title, @site.person_name %>
  <%= content_for :container_class, 'container_wide portfolio_site' %>

  <%= render 'portfolio/shared/header_menu' %>

  <%= image_tag @site.avatar.url(:thumb), class: :pf_avatar if @site.avatar.file? %>

  <h1><%= unless_blank @site.greetings, 'Greetings' %></h1>

  <div class="pf_summary">
    <%= raw render_markdown @site.summary %>
  </div>

  <%= render 'portfolio/site_projects/list', projects: @featured_projects if @featured_projects.any? %>

  <% unless @site.email.blank? %>
  <div class="pf_contact">
    <%= link_to 'Email me', "mailto:#{@site.email}", target: :_blank, class: 'btn btn-default' %>
  </div>
  <% end %>

  <div class="pf_social_links">
    <% @site.site_social_links.each do |link| %>
    <%= link_to image_tag(link.social_link.image(:medium)), link.url,
        title: link.social_link.name, target: :_blank,
        data: {toggle: 'tooltip', placement: 'top'} %>
    <% end %>
  </div>

  <% if admin_user_signed_in? and not params[:preview] %>
    <%= link_to 'Edit', [:edit, :admin, @site] %> |
    <%= link_to 'Back', [:admin, :sites] %>
  <% end %>
<% else %>
  <div class="empty-portfolio">Nothing in here yet!</div>
<% end %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
