<%= form_for([:admin, @site, @item]) do |f| %>
  <%= render 'portfolio/shared/form_errors', record: @item %>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :url %><br>
        <%= f.text_field :url, class: 'form-control'%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control pf_text_area' %>
  </div>
  <div class="actions">
    <%= f.hidden_field :site_id %>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Show', item_path(@item), class: 'btn btn-default' unless @item.new_record? %>
    <%= link_to 'Back', [:admin, @site, @resource_name_p], class: 'btn btn-default' %>
  </div>
<% end %>

<%= render 'images' unless @item.new_record? %>
