<%= form_for([:admin, @site, @item]) do |f| %>
  <%= render 'portfolio/shared/form_errors', record: @item %>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: 'form-control'%>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-2">
      <div class="form-group">
        <%= f.label :site_item_category_id %>
        <%= f.select :site_item_category_id, 
            Portfolio::SiteItemCategory.all.map { |c| [c.name, c.id] },
            {}, class: 'form-control'%>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-2">
      <br>
      <%= link_to 'Edit categories', admin_site_item_categories_path, target: 'categories', class: 'btn btn-link' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="form-group">
        <%= f.label :body %>
        <%= link_to 'Show Preview', '#', class: 'js_markdown_preview' %>
        <div class="markdown_preview"></div>
        <%= f.text_area :body, class: 'form-control pf_text_area' %>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-2">
      <div class="form-group">
        <label>Tags</label>
        <%= f.collection_check_boxes(:site_item_tag_ids, Portfolio::SiteItemTag.all, :id, :name) do |b| %>
          <div class="checkbox"><%= b.label { b.check_box + b.text } %></div>
        <% end %>
        <%= link_to 'Edit tags', admin_site_item_tags_path, target: 'tags', class: 'btn btn-link' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="checkbox">
      <label>
        <br>
        <%= f.check_box :featured %>
        Featured
      </label>
    </div>
  </div>
  
  <div class="actions">
    <%= f.hidden_field :site_id %>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Show', item_path(@item), class: 'btn btn-default' unless @item.new_record? %>
    <%= link_to 'Back', [:admin, @site, @resource_name_p], class: 'btn btn-default' %>
  </div>
<% end %>
<br>
<br>

<%= render 'images' unless @item.new_record? %>
