<h1>Listing <%= @resource_name_h.pluralize %> of "<%= @site.person_name %>"</h1>

<table class="table">
  <thead>
    <tr>
      <th>Published</th>
      <th>Featured</th>
      <th>Category</th>
      <th>Name</th>
      <th>Url</th>
      <th>Images</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= ajax_checkbox item, :public %></td>
        <td><%= ajax_checkbox item, :featured %></td>
        <td><%= item.site_item_category ? item.site_item_category.name : '-' %></td>
        <td><%= item.title %></td>
        <td><%= item.url %></td>
        <td><%= item.site_item_images.count %></td>
        <td><%= item.site_item_tags.count %></td>
        <td><%= link_to 'Show', item_path(item) %></td>
        <td><%= link_to 'Edit', [:edit, :admin, @site, item] %></td>
        <td><%= link_to 'Destroy', [:admin, @site, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{@resource_name.humanize.downcase}", [:new, :admin, :site, @resource_name], class: 'btn btn-primary' %>
<%= link_to 'Back', [:edit, :admin, @site], class: 'btn btn-default' %>
