<h3>Project Images</h3>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Default</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @item.site_item_images.each do |image| %>
      <tr>
        <td><%= image_tag image.image.url(:thumb) %></td>
        <td><%= image.default ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Set Default', [:set_default, @site, @item, image], method: :put unless image.default %></td>
        <td><%= link_to 'Destroy', [@site, @item, image], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for [@site, @item, @image] do |f| %>
  <%= render 'portfolio/shared/form_errors', record: @image %>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :image %><br>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="checkbox">
        <label>
          <br>
          <%= f.check_box :default %>
          Default
        </label>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.hidden_field :site_item_id %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
