<h1>Listing <%= @resource_name.split('_').last.pluralize.downcase %> of "<%= @item.person_name %>"</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_projects.each do |item_project| %>
      <tr>
        <td><%= item_project.title %></td>
        <td><%= item_project.body %></td>
        <td><%= item_project.url %></td>
        <td><%= item_project.site_item_images.count %></td>
        <td><%= link_to 'Edit', [:edit, @item, item_project] %></td>
        <td><%= link_to 'Destroy', [@item, item_project], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{@resource_name.humanize.downcase}", [:new, :site, @resource_name], class: 'btn btn-primary' %>
<%= link_to 'Back', [:edit, @item], class: 'btn btn-default' %>
