
<div class="top_title">
  <%= link_to image_tag(@site.avatar.url(:thumb), class: :pf_avatar), show_portfolio_path(@site.key) if @site.avatar.file? %>
  <span class="title">
    <%= @site.title %>
  </span>
</div>
<%= render 'portfolio/items/header_menu' %>

<h1><%= @item.name %></h1>

<%= image_tag @item.default_image_url(:large) %>

<div class="project_description">
  <%= @item.description %>
</div>
