<%= form_for([@site, @site_menu_link]) do |f| %>
  <%= render 'portfolio/shared/form_errors', record: @site_menu_link %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.hidden_field :site_id %>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', site_site_menu_links_path, class: 'btn btn-default' %>
  </div>
<% end %>
