<%= content_for :title, "Portfolio | #{@site.person_name}" %>
<%= content_for :container_class, 'portfolio_site_item' %>

<%= render 'portfolio/shared/header' %>

<div class="item_title">
  <h1>Portfolio</h1>
  <a href="<%= show_portfolio_path(@site.key) %>" class="go_back">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
  </a>
</div>
<hr>

<div class="container portfolio_projects">
  <% @site.site_projects.group_by_categories.each do |categ| %>
    <%= render partial: 'projects_group', 
        locals: { title: categ.name, projects: categ.site_projects } %>
  <% end %>
  
  <%= render partial: 'projects_group', 
      locals: { title: 'Others', projects: Portfolio::SiteProject.uncategorized } %>
</div>
