<%= content_for :title, "#{@item.title} | #{@site.person_name}" %>
<%= content_for :container_class, 'portfolio_site_project' %>

<%= render 'portfolio/shared/header' %>

<div class="item_title">
  <h1><%= @item.title %></h1>
  <a href="<%= portfolio_projects_path(@site.key) %>" class="go_back">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back to portfolio
  </a>
</div>
<hr>

<div class="row">
  <div class="col-xs-12 col-sm-5 col-md-3">
    <div class="project_description">
      <%= @item.body %>
    </div>
    
    <div class="project_tags">
      <% @item.site_item_tags.each do |tag| %>
        <%= link_to tag.name, portfolio_projects_tagged_path(@item.site.key, tag.key), class: 'label label-default' %>
      <% end %>
    </div>
    
    <a href="<%= @item.url %>" class="btn btn-default go_to_site" target="_blank">
      Go to site
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
    </a>
    
    <%= link_to 'Edit', [:edit, :admin, @site, @item] if admin_user_signed_in? %>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-9">
    <div class="main_image text-center">
      <%= image_tag @default_image.image(:large), class: 'img-responsive' %>
    </div>
    <% if @item.site_item_images.count > 1 %>
    
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-9   col-sm-offset-5 col-md-offset-3">
    <div class="image_thumbnails">
      <% @item.site_item_images.each do |img| %>
        <%= link_to(
            image_tag(img.image(:thumb), class: ''),
            '#', class: "#{img == @default_image ? 'active' : ''}",
            data: { large_img: img.image(:large) }
            )
        %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.image_thumbnails a').click(function(evt) {
    var el = $(this);
    evt.preventDefault();
    $('.main_image img').prop('src', el.data('large-img'));
    $('.image_thumbnails a').removeClass('active');
    el.addClass('active');
  });
</script>
