<%= form_for([@item, @link], 
    url: @link.new_record? ? portfolio_item_social_links_path(@item) : portfolio_item_social_link_path(@item, @link), 
    as: :social_link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this portfolio_social_link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.select :name, Portfolio::SocialLink.list, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name, class: 'form-control' %>
  </div>

  <%= f.hidden_field :item_id %>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', portfolio_item_social_links_path, class: 'btn btn-default' %>
  </div>
<% end %>
