<%= form_for(@social_link) do |f| %>
  <%= render 'portfolio/shared/form_errors', record: @social_link %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url_pattern %><br>
    <%= f.text_field :url_pattern, placeholder: 'e.g. www.twitter.com/[user_name]', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= image_tag @social_link.image.url(:medium), class: 'edit-social-link-image' %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', social_links_path, class: 'btn btn-default' %>
  </div>
<% end %>
