<h1>Listing Social Links</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url pattern</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_links.each do |social_link| %>
      <tr>
        <td><%= social_link.name %></td>
        <td><%= social_link.url_pattern %></td>
        <td><%= image_tag social_link.image.url(:medium) %></td>
        <td><%= link_to 'Edit', edit_social_link_path(social_link) %></td>
        <td><%= link_to 'Destroy', social_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social link', new_social_link_path, class: 'btn btn-default' %>
